# Load Data

In [184]:
import pandas as pd

In [185]:
annual_collision_report_raw = pd.read_csv("../data/raw/Annual_Collision_Report.csv")
average_annual_weekday_traffic_volume_raw = pd.read_csv("../data/raw/Average_Annual_Weekday_Traffic_Volumes.csv")
weather_data_hourly = pd.read_csv("../data/raw/Weather_Data_Hourly.csv", low_memory=False)

# Functions

In [186]:
def drop_columns(df, columns=[]):
    return df.drop(columns, axis=1)

In [187]:
def drop_all_null_rows(df):
    df_new = df.dropna(how="all")
    if len(df_new) != len(df):
        return df_new
        print("OK")
    return df

In [188]:
def drop_null_rows(df, columns):
    df_new = df.dropna(subset=columns)
    return df_new

In [239]:
def filter_dataframe(df, column, has_value):
    return df[df[column].str.lower().str.contains(has_value)]

# Processing

In [199]:
to_drop_collision = [ "Population", "Private Passenger Vehicles", "Private Motorcycles", "Collisions per 1,000 Population", "Property Damage Only (PDO) Collisions", "Injuries+Fatalities per 1,000 Population", "Injuries per 1,000 Population", "Fatalities per 1,000 Population", "FATALITY: BICYCLIST", "FATALITY: MOTORCYCLIST", "FATALITY: PEDESTRIAN", "FATALITY: VEHICLE DRIVER", "FATALITY: VEHICLE PASSENGER", "SERIOUS INJURIES: BICYCLIST", "MINOR INJURIES: BICYCLIST", "SERIOUS INJURY: MOTORCYCLIST", "MINOR INJURIES: MOTORCYCLIST", "SERIOUS INJURIES: PEDESTRIAN", "MINOR INJURIES: PEDESTRIAN", "Total Serious Injuries", "Total Minor Injuries", "Total Serious + Minor Injuries", "Total Fatalities + Injuries", "FATALITIES: INTERSECTION PERCENT", "FATALITIES: MIDBLOCK PERCENT", "INJURIES: INTERSECTION PERCENT", "INJURIES: MIDBLOCK PERCENT" ]
to_drop_volume = traffic_volume_drop = [ "Location", "Geometry Point"]
to_drop_weather = [ "Row ID", "Station Province", "Location", "Station Elevation (m)", "Station Climate Identifier", "Station WMO Identifier", "Station TC Identifier", "Station Note", "Dewpoint Temperature (degrees C)", "Relative Humidity", "Wind Direction (10s degrees)", "Air Pressure (kPa)", "Humidex", "Wind Chill (degrees C)"]


collision_new = drop_columns(annual_collision_report_raw, to_drop_collision)
traffic_new = drop_columns(average_annual_weekday_traffic_volume_raw, to_drop_volume)
weather_new = drop_columns(weather_data_hourly, to_drop_weather)

In [229]:
print("Traffic Volume Dataset NULL values: \n" + str(traffic_new.isnull().sum()))
traffic_new[traffic_new.isnull()]

Traffic Volume Dataset NULL values:
Site Number             0
Site Name               0
Year                    0
Average Daily Volume    0
Latitude                0
Longitude               0
dtype: int64

       Site Number Site Name  Year  Average Daily Volume  Latitude  Longitude
0              NaN       NaN   NaN                   NaN       NaN        NaN
1              NaN       NaN   NaN                   NaN       NaN        NaN
3              NaN       NaN   NaN                   NaN       NaN        NaN
4              NaN       NaN   NaN                   NaN       NaN        NaN
6              NaN       NaN   NaN                   NaN       NaN        NaN
...            ...       ...   ...                   ...       ...        ...
50935          NaN       NaN   NaN                   NaN       NaN        NaN
50936          NaN       NaN   NaN                   NaN       NaN        NaN
50937          NaN       NaN   NaN                   NaN       NaN        NaN
50938          NaN       NaN   NaN                   NaN       NaN        NaN
50939          NaN       NaN   NaN                   NaN       NaN        NaN

[40642 rows x 6 columns]

In [206]:
traffic_new = drop_all_null_rows(traffic_new)
weather_new = drop_all_null_rows(weather_new)

In [207]:
traffic_new = drop_null_rows(traffic_new, ['Average Daily Volume'])
weather_new = drop_null_rows(weather_new, ["Temperature (degrees C)", "Wind Speed (km/h)", "Visibility (km)"])

In [242]:
edmonton_weather_data = filter_dataframe(weather_new, "Station Name", "edmonton")
edmonton_weather_data

,Station ID,Station Name,Station Latitude,Station Longitude,Date and Time,Temperature (degrees C),Wind Speed (km/h),Visibility (km)
21,30907,EDMONTON NAMAO AWOS A,53.67,-113.47,2018/05/20 09:00:00 PM,15.4,6.0,14.5
23,1870,EDMONTON STONY PLAIN,53.55,-114.11,2018/05/20 04:00:00 AM,7.2,11.0,24.1
24,30907,EDMONTON NAMAO AWOS A,53.67,-113.47,2018/05/20 08:00:00 AM,14.1,28.0,14.5
27,51758,EDMONTON VILLENEUVE A,53.67,-113.86,2018/05/20 05:00:00 PM,23.2,15.0,16.1
28,1870,EDMONTON STONY PLAIN,53.55,-114.11,2018/05/20 05:00:00 PM,23.0,13.0,24.1
...,...,...,...,...,...,...,...,...
1948159,51758,EDMONTON VILLENEUVE A,53.67,-113.86,2025/05/12 08:00:00 PM,9.8,11.0,16.1
1948160,51758,EDMONTON VILLENEUVE A,53.67,-113.86,2025/05/12 02:00:00 PM,13.8,21.0,16.1
1948162,50149,EDMONTON INTL A,53.31,-113.58,2025/05/12 03:00:00 PM,12.4,9.0,16.1
1948163,1868,EDMONTON NAMAO A,53.67,-113.47,2025/05/12 08:00:00 AM,10.5,11.0,24.1
1948165,50149,EDMONTON INTL A,53.31,-113.58,2025/05/12 04:00:00 AM,9.6,14.0,32.2

# Save To CSV:

In [246]:
collision_new.to_csv("../data/processed/traffic_collisions.csv")
traffic_new.to_csv("../data/processed/traffic_volume.csv")
edmonton_weather_data.to_csv("../data/processed/edmonton_weather.csv")